In [1]:
import pandas as pd

In [4]:
knjige = pd.read_csv('najboljse_knjige_vseh_casov.csv', index_col='id')

In [5]:
knjige.head()

,naslov,avtor,ocene,povprecje,stevilo_glasujocih,tocke
id,,,,,,
2767052,The Hunger Games,Suzanne Collins,"5,185,834",4.34,"28,343","2,780,502"
2,Harry Potter and the Order of the Phoenix,J.K. Rowling,"1,913,035",4.47,"24,271","2,371,475"
2657,To Kill a Mockingbird,Harper Lee,"3,461,327",4.26,"20,456","1,987,103"
1885,Pride and Prejudice,Jane Austen,"2,298,359",4.25,"17,659","1,709,202"
41865,Twilight,Stephenie Meyer,"4,065,182",3.57,"14,320","1,405,717"